@model IEnumerable<ShoppingCart.Models.ViewModels.Cart.CartVM>

@{
    ViewBag.Title = "Cart Details";
}

<h2>Cart Details</h2>

@if (ViewBag.Msg != null)
{
    <h3>@ViewBag.Msg</h3>
}
else
{

    <table class="table">
        <tr>

            <th>
                Name
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th>
                Image
            </th>
            <th>

            </th>
            <th>
                Total
            </th>
            <th>

            </th>


        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td class="quantity@(item.ProductId)">
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <img src="/Images/Uploads/Products/@item.ProductId/Thumbs/@item.Image" />
                </td>
                <td>
                    <a href="#" class="increment-product" data-id="@item.ProductId">+</a>
                    <a href="#" class="decrement-product" data-id="@item.ProductId">-</a>
                    <a href="#" class="remove-product" data-id="@item.ProductId">Remove</a>
                </td>

                <td class="total@(item.ProductId)">
                    $@Html.DisplayFor(modelItem => item.Total)
                </td>

            </tr>
        }
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="grandtotal"><b>Total:</b> $<span>@ViewBag.Total</span></td>

        </tr>
    </table>
}

@section Scripts{
    <script>
		
        $(function () {
            /*Incrementuj product */
            $("a.increment-product").click(function (e) {
                e.preventDefault();

                //prosledjeno AjAX-om
                var productId = $(this).data("id");
                var url = "/cart/IncrementProduct";

                $.getJSON(url, { productId: productId }, function (data) {
                    $("td.quantity" + productId).html(data.quantity);

                    var price = data.quantity * data.price;

                    var priceHtml = "$" + price.toFixed(2);

                    $("td.total" + productId).html(priceHtml);

                    var grandTotal = parseFloat($("td.grandtotal span").text());

                    var gt = (grandTotal + data.price).toFixed(2);

                    $("td.grandtotal span").text(gt);
                });
            });

            /*dekrementuj product */
            $("a.decrement-product").click(function (e) {
                e.preventDefault();

                //prosledjeno AjAX-om
                var productId = $(this).data("id");
                var url = "/cart/DecrementProduct";
                var $this = $(this);

                $.getJSON(url, { productId: productId }, function (data) {

                    if (data.quantity <= 0)
                    {
                        $this.parent().parent().fadeOut("fast", function () {
                            location.reload();
                        });
                    }
                    else
                    {
                        $("td.quantity" + productId).html(data.quantity);

                        var price = data.quantity * data.price;

                        var priceHtml = "$" + price.toFixed(2);

                        $("td.total" + productId).html(priceHtml);

                        var grandTotal = parseFloat($("td.grandtotal span").text());

                        var gt = (grandTotal - data.price).toFixed(2);

                        $("td.grandtotal span").text(gt);
                    }

                });
            });
            /*Otkloni product */
            $("a.remove-product").click(function (e) {
                e.preventDefault();

                //prosledjeno AjAX-om
                var productId = $(this).data("id");
                var url = "/cart/RemoveProduct";
                var $this = $(this);

                $.get(url, { productId: productId }, function (data) {
                    location.reload();
                });
            });

		});
		
			
    </script>

}